/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
*,*::before,*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
 background: url("bg-intro-desktop.png"), linear-gradient(coral,coral);
}
.section{
    padding: 60px;
    margin-top: 80px;
}
form{
    width: 350px;
    text-align: center;
    background-color: white;
    padding-right: 28px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 12px;
}
.col{
    width: 40%;
}
h1{
    font-size: 38px;
    margin-bottom: 22px;
    color: white;
    font-weight: 700;
}
p{
    font-size: 18px;
    color: white;
}
h2{
    background-color: rgb(68, 68, 203);
    padding: 12px 32px;
    margin-bottom: 22px;
    width: 80%;
    color: gray;
}
input{
    padding: 12px 32px;
    width: 100%;
    margin: 12px;
}
h3{
    background-color:green;
    padding: 12px 32px;
    margin-left: 14px;
    width: 100%;
    margin-bottom: 12px;
}
h4{
    font-size: 10px;
}
span{
    color: red;
    font-weight: 600;
}
#name{
    border: 2px solid black;
}